* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;    
}

.section {
    width: 60vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section>h1 {
    background-color:#90e0ef;
    text-align: center;
    border: 1px solid #0096c7;
    width: 50%;
    margin: 0 auto;    
}

.section>div {
    background-color: #48cae4;
    border: 1px solid #0096c7;
    width: 50%;
    height: 530px;
    margin: 0 auto;
}

.form {
    background-color:#90e0ef;
    text-align: center;
}

.txtbox {
    width: 60%;
    padding: 12px 20px;
    margin: 4px 0;
    border: 1px solid #555;
    outline: none;
}

.txtbox:focus {
    background-color: #C1D3FE;
}

.btn {
    background-color: white;
    outline: none;
    color: black;
    border: 1px solid black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:hover {
    background-color: #C1D3FE;
    color: white;
    font-weight: bold;
}
ul{
    background-color:#90e0ef;
    margin-top: 20px;
    height: 320px;
    list-style: none;
    overflow: auto;
}
li{
    background-color: #ade8f4;
    padding: 12px 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 1200px){
    .section>h1 {
        width: 70%;
    }
    .section>div{
        width: 70%;
    }
}
@media screen and (max-width: 900px){
    .section>h1 {
        width: 90%;
    }
    .section>div{
        width: 90%;
    }
    .txtbox{
        width: 90%;
    }
}
@media screen and (max-width: 500px){
    .section {
        width: 80vw;
    }
    .txtbox{
        width: 80%;
    }
    
}
@media screen and (max-width: 380px){
    .section {
        width: 100vw;
        height: 80vh;
    }
    .section>h1 {
        width: 95%;
    }
    .section>div{
        width: 95%;
        height: 473px;
    }
    .txtbox{
        width: 90%;
    }
    
    ul{
        height: 263px;
    }
}
